<div class="layout">
<%= image_tag("overlay.png", :class => "overlay") %>
</div>

<br><br>

<div class="container">
    <div class="row">
      <div class="span12">

<div class="row-fluid">
  <% @articles[0..2].each do |article| %>
    <div class="span4">
      <div class="breadcrumb">
        <p class="article_title">
          <a href="<%= article['url'] %>">
          <%= format(article['title']) %></a>
         </p>
        <hr>
        <p>
          <%= format(article['abstract']) %>
        </p>
      </div>
    </div>
  <% end %>

  <% @articles[3..-2].each do |article| %>
    <div class="span3">
      <div class="breadcrumb">
        <p class="article_title_2">
          <a href="<%= article['url'] %>">
          <%= format(article['title']) %></a>
         </p>
        <hr>
        <p class ="small_text">
          <%= format(article['abstract']) %>
        </p>
      </div>
    </div>
  <% end %>

</div>
<hr>


<%= Location.all %>



      </div>

    </div><!--/span-->
  </div><!--/row-->