
<div class="layout">
  <div class="overlay">
    <img src="<%= asset_path('overlay5.png') %>" id="image" alt="just nothing">

<script type="text/javascript">
if(screen.width>=1020){
  document.getElementById('image').src = "<%= asset_path('overlay5.png') %>";
}

</script>

</div>
</div>

<br><br>

<div class="container">
    <div class="margin">
      <div class="span12">

<div class="row">
  <% @articles[0..2].each do |article| %>
    <div class="span4">
      <div class="breadcrumb">
        <p class="article_title">
          <a href="<%= article['url'] %>" target="_blank">
          <%= format(article['title']) %></a>
        </p>
        <hr>
        <p>
          <%= format(article['abstract']) %>
        </p>
      </div>
    </div>
  <% end %>

  <% @articles[3..10].each do |article| %>
    <div class="span3">
      <div class="breadcrumb_small">
        <p class="article_title_2">
          <a href="<%= article['url'] %>" target="_blank">
          <%= format(article['title']) %></a>
        </p>
        <hr>
        <p class ="small_text">
          <%= format(article['abstract']) %>
        </p>
      </div>
    </div>
  <% end %>

  <% @articles[11..-2].each do |article| %>
    <div class="span6">
      <div class="breadcrumb_smallest">
        <p> <span class="article_title_2">
          <a href="<%= article['url'] %>" target="_blank">
          <%= format(article['title']) %> </a></span>
        <span class ="small_text">
          <%= format(article['abstract']) %></span>
      </p>
      </div>
    </div>
  <% end %>

</div>
<br><br><br>







      </div>

    </div><!--/span-->
  </div><!--/row-->