<br><br>

<div class="row-fluid">
  <% @articles[0..2].each do |article| %>
    <div class="span4">
      <div class="breadcrumb">
        <p class="article_title">
          <a href="<%= article['url'] %>">
          <%= format(article['title']) %></a>
         </p>
        <hr>
        <p>
          <%= format(article['abstract']) %>
        </p>
      </div>
    </div>
  <% end %>

  <% @articles[3..-2].each do |article| %>
    <div class="span3">
      <div class="breadcrumb">
        <p class="article_title_2">
          <a href="<%= article['url'] %>">
          <%= format(article['title']) %></a>
         </p>
        <hr>
        <p class ="small_text">
          <%= format(article['abstract']) %>
        </p>
      </div>
    </div>
  <% end %>

</div>
<hr>

<br>
geolocations collected: <br>
  <% @geolocations.each do |location| %>
    <%= location %>
  <% end %>
<hr>
first geolocation: <br>
  <% @geolocations.each do |location| %>
  <%= location[0] %>
  <% end %>

<%= Location.all %>