<!DOCTYPE html>
<html>
<head>
  <title>NewsCloud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'navbar' %>

<div class="pad">

  <%= bootstrap_flash %>

</div>

<div class="row-fluid-map">

  <%= yield %>

</div>

  <%= render 'content' %>

  <%= render 'footer' %>

</body>
</html>
