<!DOCTYPE html>
<html>
<head>
  <title>NewsCloud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- Favicons -->
<!-- For third-generation iPad with high-resolution Retina display: -->
<!-- Size should be 144 x 144 pixels -->
<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

<!-- For iPhone with high-resolution Retina display: -->
<!-- Size should be 114 x 114 pixels -->
<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

<!-- For first- and second-generation iPad: -->
<!-- Size should be 72 x 72 pixels -->
<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<!-- Size should be 57 x 57 pixels -->
<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

<!-- For all other devices -->
<!-- Size should be 32 x 32 pixels -->
<%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>

    <style media="screen" type="text/css">
  html {
  /* set up a background image */
  background: url(/assets/background.jpg);

  /* the follow is the code to have the image display as a full page */
  background-attachment: fixed;
  -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /*show: none;*/
}
</style>
</head>
<body>

<%= render 'navbar' %>

  <%= bootstrap_flash %>


<div class="overlayInline" style="z-index: 20; position:absolute; width: 100%;
  text-align: center; top: 50%;
   margin-top: -125px;">
<div id="container" style="display: inline-block;" >



      <%= yield %>
    </div>


  </div>

</div>

  <%= render 'footer' %>

</body>
</html>
